@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g80gi9');
  src:  url('fonts/icomoon.eot?g80gi9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g80gi9') format('truetype'),
    url('fonts/icomoon.woff?g80gi9') format('woff'),
    url('fonts/icomoon.svg?g80gi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e911";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-location:before {
  content: "\e947";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
