@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rukcux');
  src:  url('fonts/icomoon.eot?rukcux#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rukcux') format('truetype'),
    url('fonts/icomoon.woff?rukcux') format('woff'),
    url('fonts/icomoon.svg?rukcux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logofont:before {
  content: "\e900";
}
.icon-aftereffect:before {
  content: "\e901";
}
.icon-arnold:before {
  content: "\e902";
}
.icon-artstation:before {
  content: "\e903";
}
.icon-blender:before {
  content: "\e904";
}
.icon-css:before {
  content: "\e906";
}
.icon-figma:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e908";
}
.icon-html5:before {
  content: "\e909";
}
.icon-illustrator:before {
  content: "\e90a";
}
.icon-indesign:before {
  content: "\e90b";
}
.icon-inkscape:before {
  content: "\e90c";
}
.icon-javascript:before {
  content: "\e90d";
}
.icon-maya:before {
  content: "\e90e";
}
.icon-nuke:before {
  content: "\e90f";
}
.icon-photoshop:before {
  content: "\e910";
}
.icon-php:before {
  content: "\e911";
}
.icon-premierpro:before {
  content: "\e912";
}
.icon-renderman:before {
  content: "\e913";
}
.icon-sql:before {
  content: "\e914";
}
.icon-synfony:before {
  content: "\e915";
}
.icon-unity:before {
  content: "\e916";
}
.icon-unreal:before {
  content: "\e917";
}
.icon-wordpress:before {
  content: "\e918";
}
.icon-zbruch:before {
  content: "\e919";
}
.icon-home3:before {
  content: "\e91a";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e91b";
}
.icon-connection:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-drive:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-git:before {
  content: "\eae7";
}
